# Test framework
pytest
pytest-dotenv
pytest-mock
pytest-cov

# Python SDK for AWS
boto3

# lib for requests
requests

# Library for mocking AWS services in unit tests
moto[all]

# Linter to ensure code quality and style
flake8

# Python code formatter
black